body{
    margin: 0px;
    overflow-x: hidden;
    width: auto;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px;
    height: 70px;
    background: linear-gradient(90deg,rgb(0, 65, 150), rgb(0, 110, 255));
    border: none;
    box-sizing: border-box;
}

.sito {
    display: flex;
    text-align: left;
    align-items: center;
    flex: 1;
    color:rgb(255, 217, 0);
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
}

.logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color:rgb(255, 217, 0);
    cursor: pointer;
    margin-right: 0.5em;
}

.accesso {
    flex: 1; 
    text-align: right; 
    display: flex;
    align-items: center;
    justify-content: right;
}

.profile-container{
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.accesso button{
    border-radius:20px;
    height: 40px;
    border: 2px solid rgb(0, 65, 150);
    transition-duration: 0.2s;
}

.profile-container button{
    background-color: transparent;
    border: none;
}

button:hover{
    opacity: 0.9;
    cursor: pointer;
}

button:active{
    opacity: 0.8;
}

.accedi{
    background-color: white;
    width: 70px;
    color: rgb(0, 65, 150);
}

.registrati{
    margin-left: 1em;
    background-color: rgb(255, 217, 0);
    width: 80px;
    border: none;
    color: rgb(0, 65, 150);
}

.bar{
    position: fixed;
    top: 70px;
    left: 0px;
    padding: 2em 1em;
    width: 70px;
    height: calc(100vh - 70px);
    background: linear-gradient(rgb(0, 65, 150), rgb(0, 110, 255));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.bar a button{
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    margin-bottom: 1em;
}

.img-profilo-1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.img-profilo-2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


@media screen and (max-width: 600px) {

    main {
        margin-left: 0 !important;
        padding-bottom: 60px !important;
      }

    .bar {
        position: fixed;
        display: flex;
        bottom: 0;
        top: auto;
        left: 0;
        width: 100%;
        height: 48px;
        padding: 0 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg,rgb(0, 65, 150), rgb(0, 110, 255));
        z-index: 1000;
    }
    .upper-bar{
        flex: 3;
    }

    .bottom-bar{
        flex: 2;
    }

    .upper-bar,
    .bottom-bar {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .bar a button {
        margin: 0;
        flex: 1;
    }
  
  }

  @media screen and (max-width: 450px) {
    .nomeSito{
        display: none;
    }
  }