{% extends 'layout.html' %}
{% load static %}

{% block title %}Esplora - DeckShow{% endblock %}
{% block extra_css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container-1">
  <div class="ricerca">
    <input class="barraRicerca" placeholder="Search...">
    <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
  </div>
</div>

<div class="filtro">
  <button type="button" data-bs-toggle="collapse" data-bs-target="#filter_form" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa-solid fa-filter" style="color: #ffffff;"></i><p> Filtri di ricerca </p><i class="fa-solid fa-caret-down" style="padding-left: 0.5em;"></i>
  </button>
  <div class="ordinamento">
    <label for="sort">Ordina per: </label>
    <select id="sort" name="sort" class="form-control">
      <option value="data">Più recente</option>
      <option value="data">Meno recente</option>
      <option value="prezzo">Prezzo</option>
    </select>
  </div>
</div>
<h2><i class="fa-solid fa-compass fa-xl" style="color: rgb(0, 65, 150)"></i></i> Esplora</h2>
<div class="grid-container">
  <div class="inserzione">
    <div class="immagini">
      <div class="img-wrapper">
      </div>
      <div class="img-wrapper">
      </div>
    </div>

    <div class="contenuto-post">
      <p class="titolo">Titolo del post</p>
      <p class="autore">Autore del post</p>
      <p class="descrizione">Descrizione breve del contenuto del post</p>
      <p class="descrizione">Altra informazione utile</p>
      <p class="descrizione">Ancora un'altra riga descrittiva</p>
    </div>

    <div class="bottom-post">
      <div class="simboli">
        <i class="fa-regular fa-heart"></i>
        <i class="fa-regular fa-clipboard"></i>
      </div>
      <div class="data">10 Aprile 2025</div>
    </div>
  </div>
  <div class="inserzione"></div>
  <div class="inserzione"></div>
  <div class="inserzione"></div>
  <div class="inserzione"></div>
  <div class="inserzione"></div>
  <div class="inserzione"></div>
  <div class="inserzione"></div>
  <div class="inserzione"></div>
  <div class="inserzione"></div>
</div>

{% endblock %}