{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Esplora - DeckShow{% endblock %}
{% block extra_css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="container-1">
  <h2>
    <i class="fa-solid fa-compass fa-xl" style="color: rgb(0, 65, 150)"></i>
    <span class="esplora-text">Esplora</span>
  </h2>
  <form method="get" action="{% url 'index' %}" class="ricerca">
    <input class="barraRicerca" name="query" placeholder="Search...">
    <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
  </form>
  <div class="right"></div>
</div>
<form action="" method="GET" id="filterForm">
  <div class="filtro">
    <div class="filtro-header">
      <button class="estendi-filtri" type="button" data-bs-toggle="collapse" data-bs-target="#filter_form"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-filter" style="color: #ffffff;"></i>
        <p>Filtri di ricerca</p><i class="fa-solid fa-caret-down" style="padding-left: 0.5em;"></i>
      </button>
      <div class="ordinamento">
        <label for="ordinamento">Ordina per: </label>
        <select id="ordinamento" name="ordinamento" class="form-control">
          <option value="data_desc" {% if request.GET.ordinamento == "data_desc" %}selected{% endif %}>Più recente</option>
          <option value="data_asc" {% if request.GET.ordinamento == "data_asc" %}selected{% endif %}>Meno recente</option>
          <option value="like_desc" {% if request.GET.ordinamento == "like_desc" %}selected{% endif %}>Like</option>
          <option value="wishlist_desc" {% if request.GET.ordinamento == "wishlist_desc" %}selected{% endif %}>Wishlist</option>
        </select>
      </div>
    </div>
    <div class="layout-filtri collapse {% if filter.titolo or filter.proprietario or filter.condizioni or filter.ordinamento != 'data_desc' %}show{% endif %}" id="filter_form">
      {% csrf_token %}
      <div class="prima-riga-filtri">
        <div class="input-1">
          <label for="titolo">Titolo: </label>
          <input type="text" name="titolo" id="titolo" value="{{ filter.titolo }}">
        </div>
        <div class="input-2">
          <label for="proprietario">Proprietario: </label>
          <input type="text" name="proprietario" id="proprietario" value="{{ filter.proprietario }}">
        </div>
      </div>
      <div class="seconda-riga-filtri">
        <div class="input-3">
          <label for="condizioni">Condizioni: </label>
          <select name="condizioni" id="condizioni">
            <option value="" disabled {% if not filter.condizioni %}selected{% endif %} hidden>Seleziona una condizione</option>
            <option value="Mint" {% if filter.condizioni == "Mint" %}selected{% endif %}>Mint</option>
            <option value="Near mint" {% if filter.condizioni == "Near mint" %}selected{% endif %}>Near mint</option>
            <option value="Excellent" {% if filter.condizioni == "Excellent" %}selected{% endif %}>Excellent</option>
            <option value="Good" {% if filter.condizioni == "Good" %}selected{% endif %}>Good</option>
            <option value="Light played" {% if filter.condizioni == "Light played" %}selected{% endif %}>Light played</option>
            <option value="Played" {% if filter.condizioni == "Played" %}selected{% endif %}>Played</option>
            <option value="Poor" {% if filter.condizioni == "Poor" %}selected{% endif %}>Poor</option>
          </select>
        </div>
        <div class="bottoni-filtri">
          <button type="button" class="reset-filtri" onclick="resetFiltri()"><i class="fa-solid fa-trash"
              style="color: #ffffff;"></i></button>
          <button class="applica-filtri" type="submit">Applica Filtri</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="grid-container">
  {% for post in posts %}
  <div class="inserzione">
    <div class="immagini">
      <div class="img-wrapper">
        <img src="{{ post.image_front.url}}" alt="" class="img-carta">
      </div>
      <div class="img-wrapper">
        <img src="{{ post.image_back.url}}" alt="" class="img-carta">
      </div>
    </div>

    <div class="contenuto-post">
      <div class="header-post">
        <a href="{% url 'user_profile' user_id=post.user.id %}"><img src="{{ post.user.profile.img_profilo.url }}" class="img-profilo-post" alt="Immagine profilo"></a>
        <div class="info-post">
          <div class="prima-riga-post">
            <p class="titolo">{{ post.title }}</p>
            <div class="condizioni">{{ post.conditions|condition_emoji|safe}} {{ post.conditions }}</div>
          </div>
          <div class="seconda-riga-post">
            <a href="{% url 'user_profile' user_id=post.user.id %}"><p class="autore">{{ post.user }}</p></a>
          </div>
          <p class="descrizione">{{ post.description }}</p>
        </div>
      </div>
      <div class="bottom-post">
        <div class="simboli">
          <button type="button" class="like_button" data-post-id="{{ post.id }}">
            {% if request.user in post.liked_by.all %}
            <i class="fa-solid fa-heart fa-xl" style="color: #cd1818;"></i>
            {% else %}
            <i class="fa-regular fa-heart fa-xl" style="color: rgb(0, 0, 0);"></i>
            {% endif %}
        </button>
        <button type="button" class="wishlist_button" data-post-id="{{ post.id }}">
            {% if request.user in post.wishlisted_by.all %}
            <i class="fa-solid fa-clipboard fa-xl" style="color: rgb(255, 217, 0);"></i>
            {% else %}
            <i class="fa-regular fa-clipboard fa-xl" style="color: rgb(0, 0, 0);"></i>
            {% endif %}
        </button>
          {% if post.link %}
          <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-store" style="color:rgb(255, 255, 255);"></i>
          </a>
          {% endif %}
        </div>
        <div class="data">{{ post.date_time|date:"d F Y" }}</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}