{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/baseLayout.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
        <div class="sito">
            <div class="logo"></div>
            <div class="nomeSito">DeckShow</div>
        </div>
        <div class="accesso">
          {% if user.is_authenticated %}   
          <div class="profile-container">
            <a href="{% url 'logout' %}" title="Log out"><button><i class="fa-solid fa-right-from-bracket fa-flip-horizontal fa-xl" style="color: #ffffff;"></i></button></a>
            <a href="{% url 'user_profile' request.user.id %}" title="Profilo" style="height: 42px;"><img src="{{ logged_in_profile.img_profilo.url }}" alt="Profilo" class="img-profilo-2"></a>
          </div>
          {% else %}
          <a href="{% url 'login' %}"><button class="accedi">Accedi</button></a>
          <a href="{% url 'signup' %}"><button class="registrati">Registrati</button></a>
          {% endif %}
        </div>
    </header>
    {% if user.is_authenticated %}
    <div class="bar">
      <div class="upper-bar">
        <a href="{% url 'perTe' %}" title="Post delle persone che segui"><button><i class="fa-solid fa-user-group fa-xl" style="color:#ffffff;"></i></button></a>
        <a href="{% url 'index' %}" title="Esplora nuovi post"><button><i class="fa-solid fa-compass fa-2xl" style="color: #ffffff;"></i></button></a>
        <a href="{% url 'create' %}" title="Crea un post"><button><i class="fa-solid fa-square-plus fa-2xl" style="color:#ffffff;"></i></button></a>
      </div>
      <div class="bottom-bar">
        <a href="{% url 'settings' %}" title="Impostazioni"><button><i class="fa-solid fa-gear fa-2xl" style="color: #ffffff;"></i></button></a>
        <a href="{% url 'user_profile' request.user.id %}" title="Profilo"><button><img src="{{ logged_in_profile.img_profilo.url }}" alt="" class="img-profilo-1" id="img-profilo-1"></button></a>
      </div>
    </div>
    {% else %}
    {% endif %}
    <main style="
    margin-left: {% if user.is_authenticated %}70px{% else %}0{% endif %};
    padding: 1em 0;
    margin-top: 70px;">
      {% block content %}
      {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>