{% extends 'layout.html' %}
{% load static %}

{% block title %}Esplora - DeckShow{% endblock %}
{% block extra_css %}
<link href="{% static 'css/perTe.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}


<h2><i class="fa-solid fa-user-group" style="color: rgb(0, 65, 150)"></i> Seguiti</h2>
<div class="layout">
  <div class="grid-container">
    <div class="inserzione">
      <div class="immagini">
        <div class="img-wrapper">
        </div>
        <div class="img-wrapper">
        </div>
      </div>

      <div class="contenuto-post">
        <p class="titolo">Titolo del post</p>
        <p class="autore">Autore del post</p>
        <p class="descrizione">Descrizione breve del contenuto del post</p>
        <p class="descrizione">Altra informazione utile</p>
        <p class="descrizione">Ancora un'altra riga descrittiva</p>
      </div>

      <div class="bottom-post">
        <div class="simboli">
          <i class="fa-regular fa-heart"></i>
          <i class="fa-regular fa-clipboard"></i>
        </div>
        <div class="data">10 Aprile 2025</div>
      </div>
    </div>
    <div class="inserzione"></div>
    <div class="inserzione"></div>
    <div class="inserzione"></div>
    <div class="inserzione"></div>
    <div class="inserzione"></div>
    <div class="inserzione"></div>
    <div class="inserzione"></div>
    <div class="inserzione"></div>
    <div class="inserzione"></div>
  </div>
  <div class="sidebar">
    <div class="consigliati">Consigliati</div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
  </div>
</div>


{% endblock %}