{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Esplora - DeckShow{% endblock %}
{% block extra_css %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css">

{% endblock %}
{% block content %}
<div class="profile-info">
  <div class="banner"></div>
  <div class="profile-data">
    <img src="{{ profile_owner.img_profilo.url }}" alt="" class="img-profilo-big" id="img-profilo">
    <p class="nome-utente">
      {% if profile_owner.nationality %}
      <span class="fi fi-{{ profile_owner.nationality|lower }}"></span>
      {% endif %}
      {{ user.username }}
    </p>
  </div>
  <div class="stats">
    <p>Post: {{posts|length}}</p>
    <p>Follower: {{ n_followers }}</p>
    <p>Seguiti: {{ n_seguiti }}</p>
    {% if request.user.id != profile_owner.user.id %}
    <form method="POST" action="{% url 'follow_function' profile_owner.user.id %}">
      {% csrf_token %}
      {% if is_following %}
      <input type="hidden" name="next" value="{{ request.path }}">
      <button type="submit" class="unfollow-button">Unfollow</button>
      {% else %}
      <input type="hidden" name="next" value="{{ request.path }}">
      <button type="submit" class="follow-button">Follow</button>
      {% endif %}
    </form>
    {% endif %}
  </div>
</div>
<div class="container-padre">
  <div class="grid-container">
    {% for post in posts %}
    <div class="inserzione">
      {% if request.user == post.user %}
      <div class="azioni">
        <a class="edit" href="{% url 'edit_post' post.id %}">
          <i class="fa-solid fa-pen fa-lg" style="color: #ffffff;"></i>
        </a>
        <a class="delete" href="{% url 'delete_post' post.id %}"
          onclick="return confirm('Sei sicuro di voler cancellare questo post?');" title="Elimina">
          <i class="fa-solid fa-trash" style="color: white;"></i>
        </a>
      </div>
      {% endif %}
      <div class="immagini">
        <div class="img-wrapper">
          <img src="{{ post.image_front.url}}" alt="" class="img-carta">
        </div>
        <div class="img-wrapper">
          <img src="{{ post.image_back.url}}" alt="" class="img-carta">
        </div>
      </div>

      <div class="contenuto-post">
        <div class="header-post">
          <img src="{{ profile_owner.img_profilo.url }}" class="img-profilo-post" alt="Immagine profilo">
          <div class="info-post">
            <div class="prima-riga">
              <p class="titolo">{{ post.title }}</p>
              <div class="condizioni">{{ post.conditions|condition_emoji|safe}} {{ post.conditions }}</div>
            </div>

            <div class="seconda-riga">
              <p class="autore">{{ post.user }}</p>
            </div>

            <p class="descrizione">{{ post.description }}</p>
          </div>
        </div>
        <div class="bottom-post">
          <div class="simboli">
            <button type="button" class="like_button" data-post-id="{{ post.id }}">
              {% if request.user in post.liked_by.all %}
              <i class="fa-solid fa-heart fa-xl" style="color: #cd1818;"></i>
              {% else %}
              <i class="fa-regular fa-heart fa-xl" style="color: rgb(0, 0, 0);"></i>
              {% endif %}
            </button>
            <button type="button" class="wishlist_button" data-post-id="{{ post.id }}">
              {% if request.user in post.wishlisted_by.all %}
              <i class="fa-solid fa-clipboard fa-xl" style="color: rgb(255, 217, 0);"></i>
              {% else %}
              <i class="fa-regular fa-clipboard fa-xl" style="color: rgb(0, 0, 0);"></i>
              {% endif %}
            </button>
            {% if post.link %}
            <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer">
              <i class="fa-solid fa-store" style="color:rgb(255, 255, 255);"></i>
            </a>
            {% endif %}
          </div>
          <div class="data">{{ post.date_time|date:"d F Y" }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="sidebar">
    <div class="radio">
      <input type="radio" name="radio" id="opt1" checked="checked">
      <label for="opt1" class="follower"><span>Follower</span></label>
      <input type="radio" name="radio" id="opt2">
      <label for="opt2" class="seguiti"><span>Seguiti</span></label>
    </div>

    <div id="follower-list">
      {% for follower in followers %}
      <div class="account">
        <a href="{% url 'user_profile' follower.user.id %}">
          <img src="{{ follower.img_profilo.url }}" class="img-profilo" alt="Immagine profilo">
          <p class="acc-name">{{ follower.user.username }}</p>
        </a>
        {% if request.user != follower.user %}
        <form method="POST" action="{% url 'follow_function' follower.user.id %}" style="display: inline;">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          {% if follower in logged_in_profile.seguiti.all %}
          <button type="submit" class="unfollow-button-2">Unfollow</button>
          {% else %}
          <button type="submit" class="follow-button-2">Follow</button>
          {% endif %}
        </form>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <div id="seguiti-list" style="display: none;">
      {% for seguito in seguiti %}
      <div class="account">
        <a href="{% url 'user_profile' seguito.user.id %}">
          <img src="{{ seguito.img_profilo.url }}" class="img-profilo" alt="Immagine profilo">
          <p class="acc-name">{{ seguito.user.username }}</p>
        </a>
        {% if request.user != seguito.user %}
        <form method="POST" action="{% url 'follow_function' seguito.user.id %}" style="display: inline;">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          {% if seguito in logged_in_profile.seguiti.all %}
          <button type="submit" class="unfollow-button-2">Unfollow</button>
          {% else %}
          <button type="submit" class="follow-button-2">Follow</button>
          {% endif %}
        </form>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}