{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Esplora - DeckShow{% endblock %}
{% block extra_css %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css">

{% endblock %}
{% block content %}
<div class="profile-info">
  <div class="banner"></div>
  <div class="profile-data">
    <img src="{{ user_profile.img_profilo.url }}" alt="" class="img-profilo-big" id="img-profilo">
    <p class="nome-utente">
      {% if user_profile.nationality %}
      <span class="fi fi-{{ user_profile.nationality|lower }}"></span>
      {% endif %}
      {{ user.username }}
    </p>
  </div>
  <div class="stats">
    <p>Post: 22</p>
    <p>Follower: 33</p>
    <p>Seguiti: 26</p>
  </div>
</div>
<div class="container-padre">
  <div class="grid-container">
    {% for post in posts %}
    <div class="inserzione">
      <div class="azioni">
        <a class="edit" href="{% url 'edit_post' post.id %}">
          <i class="fa-solid fa-pen fa-lg" style="color: #ffffff;"></i>
        </a>
        <a class="delete" href="{% url 'delete_post' post.id %}" onclick="return confirm('Sei sicuro di voler cancellare questo post?');" title="Elimina">
          <i class="fa-solid fa-trash" style="color: white;"></i>
        </a>
      </div>
      <div class="immagini">
        <div class="img-wrapper">
          <img src="{{ post.image_front.url}}" alt="" class="img-carta">
        </div>
        <div class="img-wrapper">
          <img src="{{ post.image_back.url}}" alt="" class="img-carta">
        </div>
      </div>

      <div class="contenuto-post">
        <div class="header-post">
          <img src="{{ user_profile.img_profilo.url }}" class="img-profilo-post" alt="Immagine profilo">
          <div class="info-post">
            <div class="prima-riga">
              <p class="titolo">{{ post.title }}</p>
              <div class="condizioni">{{ post.conditions|condition_emoji|safe}} {{ post.conditions }}</div>
            </div>

            <div class="seconda-riga">
              <p class="autore">{{ post.user }}</p>
            </div>

            <p class="descrizione">{{ post.description }}</p>
          </div>
        </div>
        <div class="bottom-post">
          <div class="simboli">
            <i class="fa-regular fa-heart fa-lg" style="color: rgb(0, 0, 0);"></i>
            <i class="fa-regular fa-clipboard fa-lg" style="color: rgb(0, 0, 0);"></i>
            {% if post.link %}
            <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer">
              <i class="fa-solid fa-store" style="color:rgb(255, 255, 255);"></i>
            </a>
            {% endif %}
          </div>
          <div class="data">{{ post.date_time|date:"d F Y" }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="sidebar">
    <div class="radio">
      <input type="radio" name="radio" id="opt1" checked="checked">
      <label for="opt1" class="follower"><span>Follower</span></label>
      <input type="radio" name="radio" id="opt2">
      <label for="opt2" class="seguiti"><span>Seguiti</span></label>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
    <div class="account">
      <a href="">
        <div class="img-profilo"></div>
        <p class="acc-name">NOME_ACCOUNT</p>
      </a>
      <button>Unfollow</button>
    </div>
  </div>
</div>
{% endblock %}